<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<title>EventosApp</title>
		<!--Import Google Icon Font-->
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	
    		<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device<link rel="stylesheet" href="style/styleCss.css">-width, initial-scale=1.0"/>
    
  	<link rel="stylesheet" href="style/styleCss.css">

</head>
<body>	

	<header>
		<nav>
    		<div class="nav-wrapper">
    		<h3 class="container">
      			<a href="#" class="brand-logo">Eventos:</a>
      				<ul id="nav-mobile" class="right hide-on-med-and-down">
		      		<li><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de Eventos</a></li>
		    	</ul>
    		</div>
  		</nav>
	</header>
			
	<div th:each= "evento : ${evento}" class="container detalhesEvento">
	<h5>Detalhes dos Evento</h5>
		<div class= "row">
			<p>Nome: <span th:text="${evento.nome}"></span></p>
			<p>Local: <span th:text="${evento.local}"></span></p>
			<p>Data: <span th:text="${evento.data}"></span></p>
			<p>Horario: <span th:text="${evento.horario}"></span></p>	
	</div>		
	
		<h6 class="container"><th:block th:include="mensagemValidacao"></th:block></h6>
		<div class="container formConvidado">
		<form method="post" th:object="${convidado}">
			Nome: <input type="text" value="" name="nomeConvidado" placeholder="Nome Completo"/>
			RG: <input type="text" value="" name="rg" placeholder="AA-00.000.000" class="validate" />
			<button class="waves-effect waves-light btn-large" type="submit">Adicionar</button>
		</form>
		</div>
	
	<table class="container tabelaConvidado">
		<thead>
		<tr>
			<th>Nome Convidado</th>
			<th>RG</th>
			<th>Deletar</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each="convidado : ${convidados}">
				<td><span th:text="${convidado.nomeConvidado}"></span></td>
				<td><span th:text="${convidado.rg}"></span></td>
				<td><a class="waves-effect waves-light btn-small" th:href="${#mvc.url('EC#deletarConvidado').arg(0, convidado.rg).build()}">
			<i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
		
	</table>		
		
</tbody>
		</table>
		<script type="text/javascript"src="http://code.jquery-3.2.1.min.js"></script>
	      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>