<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<title>EventosApp</title>
		<!--Import Google Icon Font-->
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    		<!--Import materialize.css-->
    		<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/styleCss.css">

</head>
<body>
	<header>
		<nav>
    <div class="nav-wrapper">
      	<a href="#" class="brand-logo">Lista de Eventos</a>
      		<ul id="nav-mobile" class="right hide-on-med-and-down">
		      	<li><a href="/cadastrarEvento" class="waves-effect waves-light btn-large">
		<i class="material-icons left">add_circle_outline</i>Cadastra Eventos</a></li>
		    </ul>
    </div>
  		</nav>
	</header>
			
	<table class=container>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Local</th>
				<th>Data</th>
				<th>Horario</th>
				<th>Deletar</th>
		</thead>
	<tbody>	
		
		<tr th:each="evento : ${eventos}">
		
			<td>
				<a th:href="${#mvc.url('EC#detalhesEvento').arg(0, evento.codigo).build()}">
					<span th:text= "${evento.nome}"></span>
				</a>
			</td>

			<!-- <td><span th:text= "${evento.nome}"></span></td> -->
			<td><span th:text= "${evento.local}"></span></td>
			<td><span th:text= "${evento.data}"></span></td>
			<td><span th:text= "${evento.horario}"></span></td>
			<td><a class="waves-effect waves-light btn-small" th:href="${#mvc.url('EC#deletarEvento').arg(0, evento.codigo).build()}">
			<i class="material-icons left">delete</i></a></td>
			
		</tr>
	
	</tbody>
		</table>
		<script type="text/javascript"src="http://code.jquery-3.2.1.min.js"></script>
	      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>