<!DOCTYPE html>

<html lang="pt" xmlns="http://www.w3.org/1999/xtml" xmlns: th= "http://thymeleaf.org"></html>

<head>


</head>

<body>
	<div class="alert alert.sucess alert.dismissible" role="alert" th:if=" ${not #strings.isEmpty(mensagem)}">
		<span th:text ="${mensagem}"></span>
		
	</div>
</body>
</html>